@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?v7eyuo");
  src: url("fonts/icomoon.eot?#iefixv7eyuo") format('embedded-opentype'), url("fonts/icomoon.woff?v7eyuo") format('woff'), url("fonts/icomoon.ttf?v7eyuo") format('truetype'), url("fonts/icomoon.svg?v7eyuo#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ecf0f1;
  font-size: 16px;
}
header {
  background: #3498db;
}
header div.menu {
  width: 12%;
  display: inline-block;
  text-align: center;
}
header div.menu p {
  margin: 11px 0;
}
header div.menu p:after {
  font-family: icomoon;
  content: "\e9bd";
  color: #fff;
}
header h1 {
  width: 72%;
  margin: 0;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #2c3e50;
}
header figure {
  width: 41px;
  margin: 0;
  display: inline-block;
  background: #fff;
  float: right;
}
header figure img {
  width: 100%;
}
header nav {
  background: #2c3e50;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  border-bottom: 1px solid #7f8c8d;
  padding: 0.8em 0.5em;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li span {
  width: 200px;
  padding: 0.6em;
  background: #fff;
  border-radius: 50%;
  margin-right: 10%;
}
header nav ul li span.inicio,
header nav ul li span.licenciatura,
header nav ul li span.sistAbierto,
header nav ul li span.maestria,
header nav ul li span.doctorado,
header nav ul li span.instalaciones,
header nav ul li span.conocenos,
header nav ul li span.plataforma,
header nav ul li span.revista,
header nav ul li span.radio,
header nav ul li span.promociones {
  color: #3498db;
  font-family: icomoon;
}
header nav ul li span.inicio:after {
  content: "\e900";
}
header nav ul li span.licenciatura:after {
  content: "\e604";
}
header nav ul li span.sistAbierto:after {
  content: "\e91f";
}
header nav ul li span.maestria:after {
  content: "\e920";
}
header nav ul li span.doctorado:after {
  content: "\e921";
}
header nav ul li span.instalaciones:after {
  content: "\e903";
}
header nav ul li span.conocenos:after {
  content: "\e948";
}
header nav ul li span.plataforma:after {
  content: "\e972";
}
header nav ul li span.revista:after {
  content: "\e602";
}
header nav ul li span.radio:after {
  content: "\e910";
}
header nav ul li span.promociones:after {
  content: "\e99f";
}
header nav ul.subMenuLicenciatura li div.bolita {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-left: 20%;
}
header nav ul.subMenuLicenciatura li p.gastro,
header nav ul.subMenuLicenciatura li p.turismo,
header nav ul.subMenuLicenciatura li p.derecho,
header nav ul.subMenuLicenciatura li p.grafico,
header nav ul.subMenuLicenciatura li p.educacion,
header nav ul.subMenuLicenciatura li p.comunicacion,
header nav ul.subMenuLicenciatura li p.merca,
header nav ul.subMenuLicenciatura li p.conta,
header nav ul.subMenuLicenciatura li p.sistemas {
  font-family: icomoon;
  position: absolute;
  top: -10px;
  left: 7px;
  color: #3498db;
}
header nav ul.subMenuLicenciatura li p.gastro:after {
  content: "\e9a0";
}
header nav ul.subMenuLicenciatura li p.turismo:after {
  content: "\e9ae";
}
header nav ul.subMenuLicenciatura li p.derecho:after {
  content: "\e9a8";
}
header nav ul.subMenuLicenciatura li p.grafico:after {
  content: "\e906";
}
header nav ul.subMenuLicenciatura li p.educacion:after {
  content: "\e91f";
}
header nav ul.subMenuLicenciatura li p.comunicacion:after {
  content: "\e91e";
}
header nav ul.subMenuLicenciatura li p.merca:after {
  content: "\e99b";
}
header nav ul.subMenuLicenciatura li a {
  width: 67%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  text-align: left;
}
header nav ul.subMenuLicenciatura,
header nav ul.subMenuAbierto,
header nav ul.subMenuMaestrias,
header nav ul.subMenuDoctorado {
  display: none;
}
