@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?v7eyuo");
  src: url("fonts/icomoon.eot?#iefixv7eyuo") format('embedded-opentype'), url("fonts/icomoon.woff?v7eyuo") format('woff'), url("fonts/icomoon.ttf?v7eyuo") format('truetype'), url("fonts/icomoon.svg?v7eyuo#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #ecf0f1;
  font-size: 16px;
}
header {
  background: #3498db;
}
header div.menu {
  width: 11%;
  display: inline-block;
  text-align: center;
}
header div.menu p {
  margin: 11px 0;
}
header div.menu p:after {
  font-family: icomoon;
  content: "\e9bd";
  color: #fff;
  font-size: 24px;
}
header h1 {
  width: 72%;
  margin: 0;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #2c3e50;
}
header figure {
  width: 49px;
  margin: 0;
  display: inline-block;
  background: #fff;
  float: right;
}
header figure img {
  width: 100%;
}
header nav {
  display: none;
  background: #2c3e50;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  border-bottom: 1px solid #7f8c8d;
  padding: 0.8em 0.5em;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li span {
  width: 200px;
  padding: 0.6em;
  background: #fff;
  border-radius: 50%;
  margin-right: 10%;
}
header nav ul li span.inicio,
header nav ul li span.licenciatura,
header nav ul li span.sistAbierto,
header nav ul li span.maestria,
header nav ul li span.doctorado,
header nav ul li span.instalaciones,
header nav ul li span.conocenos,
header nav ul li span.plataforma,
header nav ul li span.revista,
header nav ul li span.radio,
header nav ul li span.promociones {
  color: #3498db;
  font-family: icomoon;
}
header nav ul li span.inicio:after {
  content: "\e900";
}
header nav ul li span.licenciatura:after {
  content: "\e604";
}
header nav ul li span.sistAbierto:after {
  content: "\e91f";
}
header nav ul li span.maestria:after {
  content: "\e920";
}
header nav ul li span.doctorado:after {
  content: "\e921";
}
header nav ul li span.instalaciones:after {
  content: "\e903";
}
header nav ul li span.conocenos:after {
  content: "\e948";
}
header nav ul li span.plataforma:after {
  content: "\e972";
}
header nav ul li span.revista:after {
  content: "\e602";
}
header nav ul li span.radio:after {
  content: "\e910";
}
header nav ul li span.promociones:after {
  content: "\e99f";
}
header nav ul.subMenuLicenciatura li div.bolita,
header nav ul.subMenuAbierto li div.bolita,
header nav ul.subMenuMaestrias li div.bolita,
header nav ul.subMenuDoctorado li div.bolita,
header nav ul.subMenuPlataforma li div.bolita {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-left: 20%;
}
header nav ul.subMenuLicenciatura li p.gastro,
header nav ul.subMenuAbierto li p.gastro,
header nav ul.subMenuMaestrias li p.gastro,
header nav ul.subMenuDoctorado li p.gastro,
header nav ul.subMenuPlataforma li p.gastro,
header nav ul.subMenuLicenciatura li p.turismo,
header nav ul.subMenuAbierto li p.turismo,
header nav ul.subMenuMaestrias li p.turismo,
header nav ul.subMenuDoctorado li p.turismo,
header nav ul.subMenuPlataforma li p.turismo,
header nav ul.subMenuLicenciatura li p.derecho,
header nav ul.subMenuAbierto li p.derecho,
header nav ul.subMenuMaestrias li p.derecho,
header nav ul.subMenuDoctorado li p.derecho,
header nav ul.subMenuPlataforma li p.derecho,
header nav ul.subMenuLicenciatura li p.grafico,
header nav ul.subMenuAbierto li p.grafico,
header nav ul.subMenuMaestrias li p.grafico,
header nav ul.subMenuDoctorado li p.grafico,
header nav ul.subMenuPlataforma li p.grafico,
header nav ul.subMenuLicenciatura li p.educacion,
header nav ul.subMenuAbierto li p.educacion,
header nav ul.subMenuMaestrias li p.educacion,
header nav ul.subMenuDoctorado li p.educacion,
header nav ul.subMenuPlataforma li p.educacion,
header nav ul.subMenuLicenciatura li p.comunicacion,
header nav ul.subMenuAbierto li p.comunicacion,
header nav ul.subMenuMaestrias li p.comunicacion,
header nav ul.subMenuDoctorado li p.comunicacion,
header nav ul.subMenuPlataforma li p.comunicacion,
header nav ul.subMenuLicenciatura li p.merca,
header nav ul.subMenuAbierto li p.merca,
header nav ul.subMenuMaestrias li p.merca,
header nav ul.subMenuDoctorado li p.merca,
header nav ul.subMenuPlataforma li p.merca,
header nav ul.subMenuLicenciatura li p.conta,
header nav ul.subMenuAbierto li p.conta,
header nav ul.subMenuMaestrias li p.conta,
header nav ul.subMenuDoctorado li p.conta,
header nav ul.subMenuPlataforma li p.conta,
header nav ul.subMenuLicenciatura li p.sistemas,
header nav ul.subMenuAbierto li p.sistemas,
header nav ul.subMenuMaestrias li p.sistemas,
header nav ul.subMenuDoctorado li p.sistemas,
header nav ul.subMenuPlataforma li p.sistemas,
header nav ul.subMenuLicenciatura li p.tics,
header nav ul.subMenuAbierto li p.tics,
header nav ul.subMenuMaestrias li p.tics,
header nav ul.subMenuDoctorado li p.tics,
header nav ul.subMenuPlataforma li p.tics,
header nav ul.subMenuLicenciatura li p.informatica,
header nav ul.subMenuAbierto li p.informatica,
header nav ul.subMenuMaestrias li p.informatica,
header nav ul.subMenuDoctorado li p.informatica,
header nav ul.subMenuPlataforma li p.informatica,
header nav ul.subMenuLicenciatura li p.empresas,
header nav ul.subMenuAbierto li p.empresas,
header nav ul.subMenuMaestrias li p.empresas,
header nav ul.subMenuDoctorado li p.empresas,
header nav ul.subMenuPlataforma li p.empresas,
header nav ul.subMenuLicenciatura li p.usuario,
header nav ul.subMenuAbierto li p.usuario,
header nav ul.subMenuMaestrias li p.usuario,
header nav ul.subMenuDoctorado li p.usuario,
header nav ul.subMenuPlataforma li p.usuario,
header nav ul.subMenuLicenciatura li p.contra,
header nav ul.subMenuAbierto li p.contra,
header nav ul.subMenuMaestrias li p.contra,
header nav ul.subMenuDoctorado li p.contra,
header nav ul.subMenuPlataforma li p.contra {
  font-family: icomoon;
  position: absolute;
  top: -10px;
  left: 7px;
  color: #3498db;
}
header nav ul.subMenuLicenciatura li p.gastro:after,
header nav ul.subMenuAbierto li p.gastro:after,
header nav ul.subMenuMaestrias li p.gastro:after,
header nav ul.subMenuDoctorado li p.gastro:after,
header nav ul.subMenuPlataforma li p.gastro:after {
  content: "\e9a0";
}
header nav ul.subMenuLicenciatura li p.turismo:after,
header nav ul.subMenuAbierto li p.turismo:after,
header nav ul.subMenuMaestrias li p.turismo:after,
header nav ul.subMenuDoctorado li p.turismo:after,
header nav ul.subMenuPlataforma li p.turismo:after {
  content: "\e9ae";
}
header nav ul.subMenuLicenciatura li p.derecho:after,
header nav ul.subMenuAbierto li p.derecho:after,
header nav ul.subMenuMaestrias li p.derecho:after,
header nav ul.subMenuDoctorado li p.derecho:after,
header nav ul.subMenuPlataforma li p.derecho:after {
  content: "\e9a8";
}
header nav ul.subMenuLicenciatura li p.grafico:after,
header nav ul.subMenuAbierto li p.grafico:after,
header nav ul.subMenuMaestrias li p.grafico:after,
header nav ul.subMenuDoctorado li p.grafico:after,
header nav ul.subMenuPlataforma li p.grafico:after {
  content: "\e906";
}
header nav ul.subMenuLicenciatura li p.educacion:after,
header nav ul.subMenuAbierto li p.educacion:after,
header nav ul.subMenuMaestrias li p.educacion:after,
header nav ul.subMenuDoctorado li p.educacion:after,
header nav ul.subMenuPlataforma li p.educacion:after {
  content: "\e91f";
}
header nav ul.subMenuLicenciatura li p.comunicacion:after,
header nav ul.subMenuAbierto li p.comunicacion:after,
header nav ul.subMenuMaestrias li p.comunicacion:after,
header nav ul.subMenuDoctorado li p.comunicacion:after,
header nav ul.subMenuPlataforma li p.comunicacion:after {
  content: "\e91e";
}
header nav ul.subMenuLicenciatura li p.merca:after,
header nav ul.subMenuAbierto li p.merca:after,
header nav ul.subMenuMaestrias li p.merca:after,
header nav ul.subMenuDoctorado li p.merca:after,
header nav ul.subMenuPlataforma li p.merca:after {
  content: "\e99b";
}
header nav ul.subMenuLicenciatura li p.conta:after,
header nav ul.subMenuAbierto li p.conta:after,
header nav ul.subMenuMaestrias li p.conta:after,
header nav ul.subMenuDoctorado li p.conta:after,
header nav ul.subMenuPlataforma li p.conta:after {
  content: "\e93b";
}
header nav ul.subMenuLicenciatura li p.sistemas:after,
header nav ul.subMenuAbierto li p.sistemas:after,
header nav ul.subMenuMaestrias li p.sistemas:after,
header nav ul.subMenuDoctorado li p.sistemas:after,
header nav ul.subMenuPlataforma li p.sistemas:after {
  content: "\e956";
}
header nav ul.subMenuLicenciatura li p.tics:after,
header nav ul.subMenuAbierto li p.tics:after,
header nav ul.subMenuMaestrias li p.tics:after,
header nav ul.subMenuDoctorado li p.tics:after,
header nav ul.subMenuPlataforma li p.tics:after {
  content: "\e920";
}
header nav ul.subMenuLicenciatura li p.informatica:after,
header nav ul.subMenuAbierto li p.informatica:after,
header nav ul.subMenuMaestrias li p.informatica:after,
header nav ul.subMenuDoctorado li p.informatica:after,
header nav ul.subMenuPlataforma li p.informatica:after {
  content: "\e601";
}
header nav ul.subMenuLicenciatura li p.empresas:after,
header nav ul.subMenuAbierto li p.empresas:after,
header nav ul.subMenuMaestrias li p.empresas:after,
header nav ul.subMenuDoctorado li p.empresas:after,
header nav ul.subMenuPlataforma li p.empresas:after {
  content: "\e976";
}
header nav ul.subMenuLicenciatura li p.usuario:after,
header nav ul.subMenuAbierto li p.usuario:after,
header nav ul.subMenuMaestrias li p.usuario:after,
header nav ul.subMenuDoctorado li p.usuario:after,
header nav ul.subMenuPlataforma li p.usuario:after {
  content: "\e972";
}
header nav ul.subMenuLicenciatura li p.contra:after,
header nav ul.subMenuAbierto li p.contra:after,
header nav ul.subMenuMaestrias li p.contra:after,
header nav ul.subMenuDoctorado li p.contra:after,
header nav ul.subMenuPlataforma li p.contra:after {
  content: "\e600";
}
header nav ul.subMenuLicenciatura li a,
header nav ul.subMenuAbierto li a,
header nav ul.subMenuMaestrias li a,
header nav ul.subMenuDoctorado li a,
header nav ul.subMenuPlataforma li a {
  width: 67%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  text-align: left;
}
header nav ul.subMenuLicenciatura li input,
header nav ul.subMenuAbierto li input,
header nav ul.subMenuMaestrias li input,
header nav ul.subMenuDoctorado li input,
header nav ul.subMenuPlataforma li input {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border: none;
  padding: 0.3em;
  border-radius: 10px;
}
header nav ul.subMenuLicenciatura li button,
header nav ul.subMenuAbierto li button,
header nav ul.subMenuMaestrias li button,
header nav ul.subMenuDoctorado li button,
header nav ul.subMenuPlataforma li button {
  width: 60%;
  border: none;
  background: #3498db;
  color: #ecf0f1;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  margin: 0 20%;
}
header nav ul.subMenuLicenciatura,
header nav ul.subMenuAbierto,
header nav ul.subMenuMaestrias,
header nav ul.subMenuDoctorado,
header nav ul.subMenuPlataforma {
  display: none;
}
section.mision {
  background: url("../img/escuela.JPG");
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
  padding: 5% 1%;
}
section.mision article.vision {
  display: none;
}
section.mision article.textoMision h2 {
  margin: 0 auto;
  width: 40%;
  padding: 0.5% 0%;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 3%;
  text-shadow: 2px 2px 2px #000;
}
section.mision article.textoMision p {
  width: 90%;
  margin: 0 5%;
  text-shadow: 1px 1px 2px #000;
  padding-bottom: 3%;
  font-style: italic;
  text-align: justify;
  color: #fff;
}
section.carreras {
  background: #2c3e50;
  position: relative;
}
section.carreras h2 {
  text-align: center;
  color: #fff;
  padding: 3% 0;
  margin: 0;
}
section.carreras:after {
  content: "";
  position: absolute;
  border-top: 10px solid #2c3e50;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  bottom: -20px;
  left: 45.5%;
}
section.licenciaturas article {
  width: 140px;
  height: 92px;
  background: #000;
  position: relative;
  margin: 15% 2% 0 2%;
  display: inline-block;
  padding: 0;
  text-align: center;
  color: #fff;
  vertical-align: top;
}
section.licenciaturas article p,
section.licenciaturas article h4 {
  margin: 1% 0;
}
section.licenciaturas article div.bolita {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 0% auto;
}
section.licenciaturas article div.bolita p.gastro,
section.licenciaturas article div.bolita p.turismo,
section.licenciaturas article div.bolita p.derecho,
section.licenciaturas article div.bolita p.grafico,
section.licenciaturas article div.bolita p.educacion,
section.licenciaturas article div.bolita p.comunicacion,
section.licenciaturas article div.bolita p.merca,
section.licenciaturas article div.bolita p.conta,
section.licenciaturas article div.bolita p.sistemas,
section.licenciaturas article div.bolita p.tics,
section.licenciaturas article div.bolita p.informatica,
section.licenciaturas article div.bolita p.empresas,
section.licenciaturas article div.bolita p.usuario,
section.licenciaturas article div.bolita p.contra {
  font-family: icomoon;
  position: absolute;
  top: 5px;
  left: 7px;
  color: #3498db;
}
section.licenciaturas article div.bolita p.gastro:after {
  content: "\e9a0";
}
section.licenciaturas article div.bolita p.turismo:after {
  content: "\e9ae";
}
section.licenciaturas article div.bolita p.derecho:after {
  content: "\e9a8";
}
section.licenciaturas article div.bolita p.grafico:after {
  content: "\e906";
}
section.licenciaturas article div.bolita p.educacion:after {
  content: "\e91f";
}
section.licenciaturas article div.bolita p.comunicacion:after {
  content: "\e91e";
}
section.licenciaturas article div.bolita p.merca:after {
  content: "\e99b";
}
section.licenciaturas article div.bolita p.conta:after {
  content: "\e93b";
}
section.licenciaturas article div.bolita p.sistemas:after {
  content: "\e956";
}
section.licenciaturas article:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 30px solid #000;
}
section.licenciaturas article:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 30px solid #000;
}
section.licenciaturas article.ld,
section.licenciaturas article.laym,
section.licenciaturas article.lc {
  margin: 12% 27%;
}
section.licenciaturas article.ldg,
section.licenciaturas article.lce,
section.licenciaturas article.lcyf,
section.licenciaturas article.isc {
  margin-top: 0;
}
section.licenciaturas article.lt,
section.licenciaturas article.lahyg,
section.licenciaturas article.ldg,
section.licenciaturas article.lce,
section.licenciaturas article.lcyf,
section.licenciaturas article.isc {
  background: #3498db;
}
section.licenciaturas article.lt:after,
section.licenciaturas article.lahyg:after,
section.licenciaturas article.ldg:after,
section.licenciaturas article.lce:after,
section.licenciaturas article.lcyf:after,
section.licenciaturas article.isc:after {
  border-top: 30px solid #3498db;
}
section.licenciaturas article.lt:before,
section.licenciaturas article.lahyg:before,
section.licenciaturas article.ldg:before,
section.licenciaturas article.lce:before,
section.licenciaturas article.lcyf:before,
section.licenciaturas article.isc:before {
  border-bottom: 30px solid #3498db;
}
section.licenciaturas article.ld,
section.licenciaturas article.laym,
section.licenciaturas article.lc {
  background: #ffa500;
}
section.licenciaturas article.ld:after,
section.licenciaturas article.laym:after,
section.licenciaturas article.lc:after {
  border-top: 30px solid #ffa500;
}
section.licenciaturas article.ld:before,
section.licenciaturas article.laym:before,
section.licenciaturas article.lc:before {
  border-bottom: 30px solid #ffa500;
}
